services:
  nginx:
    build: requirements/nginx/.
    container_name: nginx
    ports:
      - "443:443"
    restart: unless-stopped
    networks:
      - inception-network
    volumes:
      - ./.web:/var/www/html

  wordpress:
    build: requirements/wordpress/.
    container_name: wordpress
    networks:
      - inception-network
    volumes:
      - ./.web:/var/www/html

  mariadb:
    build: requirements/mariadb/.
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    networks:
      - inception-network
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./requirements/mariadb/50-server.cnf:/etc/mysql/mariadb.conf.d/50-server.cnf

networks:
  inception-network:
    driver: bridge

volumes:
  mariadb_data:
